@{
    ViewData["Title"] = "About";
}


<h1 style="text-align: center; font-size: xx-large">OUR STORY</h1>
<img src="~/images/mario.jpg" alt="mari story" />
<br /><br />
<h4 style="text-space-collapse:initial">Olives have been with Mario from the very beginning. J. Barolo Mario started Mario Olives in 1937. Meanwhile, 
    four generations of the Camacho family have grown and processed olives in the sunny groves of Andalusia, Spain since 1897. 
    These two entities came together in 2008 to form Mario's corporate parent, Mario Camacho Foods. Today, we're headquartered 
    in Plant City, Florida.

When you've been close to olives for such a long time, you learn some things along the way. So perhaps, it's not surprising 
    that we've become known as a leader in new product and packaging innovation, environmental sustainability,
    social responsibility, and making continuous improvements to provide the absolute highest quality in products and service.

Today, we offer so much more than olives. Peppers, capers, onions, olive oil, cherries, jams and preserves, 
    and herbal medicinal teas have joined them. Mario's sister brands include La Vieja Fabrica Fruit Spreads, Susaron Teas 
    and Fragata. Mario now offers all sorts of healthy goodness - no wonder the typical response is mmm...</h4>
